* {
    margin: 0;
    padding: 0;
}

.pie {
    background-color: black;
    color: white;
}


/*ul li{
    color: #909090;
    margin-left: 5%;        
    margin-top: 1em;
}*/

a:link {
    color: #909090;
    text-decoration: none;
}

a:visited {
    color: #909090;
    text-decoration: none;
}

ul li a:hover {
    color: #cb0404;
    transition-duration: .5s;
    text-decoration: none;
}

.social {
    margin: 1em;
}

.espacio {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carac small {
    color: #008000;
}

.carac {
    color: #333333;
}

.carac h2 {
    color: #f42434;
}

.carac h4 {
    color: #f42434;
}

.bordes {
    border: 1px solid #eaeaea;
}

.bordes2 {
    background: #f8f8f8;
}

.espacio-bl .row {
    margin-top: 100px;
}

div.panel-default >div.panel-heading {
    padding: 0 !important;
}


/** stilos para comite-editorial.html*/

div.panel-default >div.panel-heading >h4 {
    width: inherit;
    height: inherit;
    padding: 0px !important;
}

div.panel-default >div.panel-heading >h4>a {
    padding: 10px !important;
    display: block;
    color: #337ab7;
}

div.panel-default >div.panel-heading >h4>a:hover {
    color: #023867;
    text-decoration: underline;
}

div.panel-default >div.panel-collapse {
    padding-left: 3%;
    padding-right: 3%;
}

div.panel-default >div.panel-collapse >div.panel-body > ul {
    padding-left: 4%;
    text-align: justify;
}

div.panel-default >div.panel-collapse >div.panel-body > ul> li>ul {
    padding-left: 3%;
    text-align: justify;
}

div.panel-default >div.panel-collapse >div.panel-body > p {
    text-align: justify;
}

.lista-sin-punto >li {
    list-style: none;
}

.lista-con-espacio >li {
    margin-left: 4%;
}

#pdf_view {
    padding: 5% 10% 3% 5%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#cerrar {
    height: 50px;
    width: 40px;
    position: absolute;
    z-index: 10000;
    right: .5%;
    top: .10%;
    margin: 0;
    padding: 0;
}

#cerrar >button {
    height: inherit;
    width: inherit;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(72, 68, 68, 0.92);
    border-color: black !important;
}


/*
PDFObject appends the classname "pdfobject-container" to the target element.
This enables you to style the element differently depending on whether the embed was successful.
*/

.pdfobject-container {
    position: fixed;
    width: 80%;
    height: 600px;
    background-color: black;
    z-index: 100;
}


/* PDFObject automatically assigns the class name "pdfobject" to the <embed> element */

.pdfobject {
    border: solid 1px #666;
}


#lineamientos {
    float: right;
    padding: .8%;
            visibility: visible;

}

#lineamientos-2 {
    float: right;
    padding: .8%;
            visibility: hidden;

}


@media (max-width:700px) {
    #lineamientos {
        visibility: hidden;
    }
    #lineamientos-2 {
        visibility: visible;
    }
}




/** termina stilos para comite-editorial.html*/


/* Zoom para las imagenes*/
